/* Variables de colores */
:root {
    --color-primario: #ffffff;
    --color-secundario: #000000;
    --color-terciario: #fffaff;
    --color-cuarto: #eb8718;
    --color-quinto: #859733;
    --color-sexto: #693817;
}

/* Importación de Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importación de Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* Aplicación de Tipografías */
.darker-grotesque {
    font-family: 'Darker Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cormorant-unicase {
    font-family: 'Cormorant Unicase', serif;
    font-weight: 400;
    font-style: normal;
}

/* Estilos de Encabezados y Párrafos */
h1.nombre {
    font-family: 'Cormorant Unicase', serif;
    font-size: 150%;
    color: var(--color-sexto);
}

p.ocupacion {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;
    color: var(--color-sexto);
}

h1.acerca-de-mi {
    font-family: 'Cormorant Unicase', serif;
    font-size: 260%;
    color: var(--color-sexto);
}

p.contexto {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    color: var(--color-secundario);
}

p.Contexto {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem; 
    color: var(--color-secundario);
}

h1 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 180%;
    color: var(--color-sexto);
}

h2 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 55%;
    color: var(--color-primario);
}

h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    color: var(--color-secundario);
}
h4 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    color: var(--color-secundario);
}
/* selecciona todos los parrafos y les asigna una tipografia especifica*/
p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: var(--color-secundario);
}
/* Ajustes de imagen */
img {
    width: 300px; 
    height: 300px; 
    object-fit: cover;
  }
/* Aplicar a todas las imágenes por defecto */
img {
    object-fit: cover;
    width: 500px; /* Tamaño estándar */
    height: auto; /* Mantiene la proporción */
}

/* Imágenes con tamaños específicos */
img.tucan { width: 809px; height: 504px; }
img.interseccionformas { width: 537px; height: 537px; }
img.rompecabezas { width: 466px; height: 602px; }
img.laminas { width: 521px; height: 343px; }
img.automata { width: 782px; height: 418px; }
img.automataFinal { width: 365px; height: 532px; }
img.automataSuperior { width: 782px; height: 417px; }
img.lampara { width: 285px; height: 518px; }
img.empaqueIlustrator { width: 640px; height: 342px; }
img.empaqueDesarrollo { width: 371px; height: 333px; }
img.empaqueIsometrico { width: 257px; height: 333px; }
img.chequito { width: 782px; height: 387px; }
img.macetitas { width: 700px; height: 518px; }
img.macetaEmpaque { width: 635px; height: 781px; }
img.mapas { width: 525px; height: 283px; }
img.maquetaFinal { width: 626px; height: 705px; }
img.patrones { width: 630px; height: 377px; }
img.reticula { width: 635px; height: 380px; }
img.pictogramasCompletos { width: 381px; height: 340px; }
img.maquetaDomo { width: 789px; height: 524px; }







@import '~bootstrap/dist/css/bootstrap.min.css';

/* tipografias */


